body {
    /* font-family: 'Josefin Sans', sans-serif; */
    background-color: #EAEDED;
}

.tandem {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 72px;
}

.green {
    color: #044104;
}

button {
    background-color: #044104;
}

ul {
    margin-left: 20px;
}

